<div class="container">
  <div class="emblem" role="figure">
    <span class="image" role="img"></span>
    <div>
      <span>Weather</span>
      <span>App</span>
    </div>
  </div>

  <span #CityLocation class="location" [class]="location?.err ? 'error' : ''" aria-label="location name or status"
    aria-live="assertive"
    (click)="retryNetworkRequest()"><span>{{location?.statusText ? location?.statusText : location?.name || 'Fetching weather data...'}}</span>
  </span>

  <form method="GET" class="search-form d-flex justify-content-end align-content-center" aria-label="search form">
    <input #SearchInput type="search" class="search-input"
      placeholder="Search location name or coordinates [e.g. 7.1, 5.3]..."
      aria-label="input location name or coordinates" />
    <button #SearchButton class="search-button icon-button" aria-label="search location"
      (click)="triggerSearch($event)">
      <span class="icon"><span></span></span>
    </button>
  </form>
</div>